* {
  font-family: "FiraCode Nerd Font", monospace;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: rgba(43, 48, 59, 0.9);
  color: #ffffff;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: #ffffff;
  border: none;
  border-radius: 0;
}

#workspaces button.active {
  background: #64727D;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#bluetooth,
#tray {
  padding: 0 10px;
  margin: 0 5px;
  color: #ffffff;
}

#window {
  margin: 0 5px;
}

#clock {
  background-color: #64727D;
}

#network.disconnected {
  color: #eb4d4b;
}

#pulseaudio.muted {
  color: #eb4d4b;
}

tooltip {
  background: rgba(43, 48, 59, 0.9);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: white;
}
